<NavBar></NavBar>
<div class="container-xxl bg-white p-0 "  style="display: flex;">

<CompanyDashboard></CompanyDashboard>
<div class="company-notification">
<div class="notification-container" style="display: flex;">
    <div class="notification">
        <img src="https://www.bootdey.com/img/Content/avatar/avatar1.png" alt="John Doe">
        <div>
            <h4>John Doe</h4>
            <p class="date">Applied on: October 1, 2023</p>
            <p class="status">Status: <span style="background-color: rgb(243, 234, 109); border-radius:10px;padding:3px ;color:black">Under Review</span> </p>
        </div>
    </div>
    
    <div class="notification">
        <img src="https://www.bootdey.com/img/Content/avatar/avatar2.png" alt="Jane Smith">
        <div>
            <h4>Jane Smith</h4>
            <p class="date">Applied on: September 28, 2023</p>
            <p class="status">Status:<span style="background-color: rgb(243, 234, 109); border-radius:10px;padding:3px ;color:black">Interview Scheduled</span>  </p>
        </div>
    </div>
    
    <div class="notification">
        <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Michael Johnson">
        <div>
            <h4>Michael Johnson</h4>
            <p class="date">Applied on: September 25, 2023</p>
            <p class="status">Status:<span style="background-color: rgb(234, 55, 27); border-radius:10px;padding:3px ;color:white">Application Rejected</span> </p>
        </div>
    </div>

    <div class="notification">
        <img src="https://www.bootdey.com/img/Content/avatar/avatar4.png" alt="Emily Davis">
        <div>
            <h4>Emily Davis</h4>
            <p class="date">Applied on: September 20, 2023</p>
            <p class="status">Status: <span style="background-color: rgb(137, 235, 137); border-radius:10px;padding:3px">Accepted</span> </p>
        </div>
    </div>
</div>
</div>

</div>
<Footer></Footer>

{{outlet}}