<NavBar></NavBar>
<div class="container-xxl bg-white p-0" style="display: flex;" >
   
<div class="edit"></div>

<JobsDashboard></JobsDashboard>
<EditProfile></EditProfile>

</div>
<Footer></Footer>
{{outlet}}