<div class="resumes" >
<NavBar></NavBar>
<div class="container-xxl bg-white p-0 "  >

<CompanyDashboard></CompanyDashboard>

    <h1>My Job Posts</h1>
    
    <table>
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Description</th>
                 <th>Experience</th>
                <th>Creation Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Software Engineer</td>
                <td>Responsible for developing and maintaining applications.</td>
                <td>3</td>
                <td>2023-10-01</td>
            </tr>
            <tr>
                <td>Product Manager</td>
                <td>Lead product development and manage the product lifecycle.</td>
                <td>2</td>
                <td>2023-09-20</td>
            </tr>
            <tr>
                <td>UX Designer</td>
                <td>Design user-friendly interfaces and improve user experience.</td>
                <td>4</td>
                <td>2023-08-15</td>
            </tr>
            <!-- Add more job posts as needed -->
        </tbody>
    </table>


<Footer></Footer>
</div>
 </div>
{{outlet}}