<div class="resumes" >
<NavBar></NavBar>
<div class="container-xxl bg-white p-0 "  >

<CompanyDashboard></CompanyDashboard>

    <h1>Applied Talented Resumes</h1>
   <table>
  <thead>
    <tr>
      <th>Candidate</th>
      <th>Highest Qualification</th>
      <th>Skills</th>
      <th>City</th>
      <th>State</th>
      <th>Download Resume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John Doe</td>
      <td>Bachelor's Degree</td>
      <td>HTML, CSS, JavaScript</td>
      <td>New York</td>
      <td>New York</td>
      <td><a href="#">Download</a></td>
    </tr>
    <tr>
      <td>Jane Smith</td>
      <td>Master's Degree</td>
      <td>Python, Django</td>
      <td>Los Angeles</td>
      <td>California</td>
      <td><a href="#">Download</a></td>
    </tr>
  </tbody>
</table>
    </div>

<Footer></Footer>
 </div>
{{outlet}}